{{new-story save2="save3"}}

<div class="row">
  {{#each model as |story|}}
  <div class="col-md-4">
      {{admin-tile story=story update="update" destroyStory="destroyStory"}}
  </div>
  {{/each}}
</div>
